$primary-color: #b2b2b2;
$secondary-color: #fff;
$hover-color: #255a7a;

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.content-container {
  display: flex;
}

.main-container {
  max-width: 1100px;
  width: 100%;
  padding: 60px 0;
  margin-left: 60px;

  @media screen and (max-width: 1600px) {
    padding: 60px 50px;
    margin-left: 0;
  }

  @media screen and (max-width: 1400px) {
    padding: 60px 24px;
    margin-left: 0;
  }

  @media screen and (max-width: 1024px) {
    padding: 60px 16px;
  }
}

@import "header";
@import "page-title";
@import "sidebar";
@import "products";
@import "reviews-slider";
@import "product-page-info";
@import "may-like";
@import "product-page-slider";
@import "cart";
@import "contact";
@import "footer";
